
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #192735;
}

.container {
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3), 0 5px 10px;
    
}

.calculator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
}

input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #fff;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: 1px solid #43ea87;
    border: none;
    background-color: transparent;
    color: #43ea87;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    transition: width 0.6s backgroung-color 0.6s;
}
button:hover{
    width: 180px;
    background-color: #43ea87;
    color: #192735;
}
.results {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.box {
    background-color: #000;
    color: #fff;
    margin: 0 10px;
    padding: 20px;
    border-radius: 10px;
    width: 100px;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
}
